body {
    background-color:black;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbar-color {
    background-color : black
}

.navbar {
    padding : 1px 80px 1px 80px;
}

.navbar-brand, .navbar-nav {
    margin : 5px 15px 5px 15px
}

.nav-link.thick {
    font-weight: 600;
    font-size : x-large;
    color : white;
}

.navigator:hover {
    background-color:#7D7777;
}

.signin-button {
    background-color: #F5D364;
    font-weight: 400;
    color : black
}

.signin-button:hover {
    background-color: #EEBE1E;
    color : black
}

.signup-button {
    background-color: #8F8C8C;
    color : black
}

.signup-button:hover {
    background-color: #7D7A7A;
    color : black;
    font-weight: 600;
}

.modal-custom > .modal-content {
    background-color: #999999;
}


h2{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid black;
    position: relative;
}

span {
    background-color: #999999;
    position: relative;
    top : 8px;
    padding: 0 10px;
}

.label-text {
    font-size:large;
    font-weight: 600;
    color:black
}

.signing-input {
    background-color: #999999;
    border: 1px solid black;
    font-weight: 600;
}

.signing-input:focus {
    background-color: #999999;
    border: 1px solid #127191;
}

.thick-label-text {
    font-size: xx-large;
    color : black;
    font-weight: 700;
}

.modal-footer-custom {
    border-top: 1px solid gray;
    background-color: #7D8182;
}

.normal-link-text {
    color : #093642;
    font-size: medium;
    font-weight: 600;
}

.normal-link-text:hover {
    color : #83540F;
}

.form-footer {
    height: 25px;
}

.small-font {
    color : white;
    font-size: medium;
}

.movie-carousel-font {
    color: white; 
    font-size:300%;
    font-weight: 500;
}

/*
.search-bar:focus {
    width: 100%;
    box-sizing: border-box;
    font-family:'FontAwesome';
    font-size: large;
    background-color: black;
    color : white;
}

.search-bar::placeholder {
    font-size: large;
    font-weight: 100;
    color:white
}
*/

.icon-search {
    color:white;
    font-size: 23px;
    position : absolute;
    top : 23px;
    right: 220px;
    transition: all 1s ease;
}

.icon-search-open {
    z-index: 500;
    right: 500px;
}


.search-bar, .search-bar:hover, .search-bar:focus {
    background-color: transparent;
    color : white;
    width: 0px;
    border:0 none;
    border-radius: 0%;
    /*padding-left: 40px;*/
    transition: all 1s ease;
}

.search-bar-open, .search-bar-open:hover, .search-bar-open:focus {
    background-color: black;
    border: solid 1px white;
    width: 313px;
    padding-left: 40px;
}

.footer-font-last {
    font-size: small;
    color: white;
    font-weight: 100;
}

.footer-font-credits {
    font-size: large;
    color: white;
    font-weight: 600;
    text-align: center;
}

.icon-footer {
    font-size: 35px;
    background-color: transparent;
    color: white;
}

.icon-footer-2 {
    font-size: 35px;
    background-color: transparent;
    color: white;
}

.icon-footer:hover {
    transform :scale(2);
}

.jumbotron {
    padding-top: 20%;
    padding-bottom: 20%;
    background-color: #3A3535;
}

.pos-nav {
    width: 100%;
    position: absolute;
    z-index: 3000;
}

.player-wrapper {
    position: relative;
    /*padding-bottom: calc(var(ratios, .5625) * 100%);*/
    padding-bottom : 56.25%;
    top: -135px;
}

.react-player {
    position: absolute; 
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
}

.trick-player {
    position: absolute;
    width: 100%;
    height: 95%;
    z-index: 20;
}

.movie-name {
    font-family: Lucida Handwriting;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    font-stretch: extra-condensed;
    margin-bottom: 0px;
}

.movie-description {
    color : white;
    font-family: monospace;
    font-weight:lighter;
    font-size: medium;
}

.movie-overview {
    color : white;
    font-family: monospace;
    font-weight: 100;
    font-size: larger;
}

.movie-overview-thicker {
    color : white;
    font-family: monospace;
    font-weight: 600;
    font-size: x-large;
}


.star-icon {
    font-size: 50px;
    color : #D4AD00;
    position: absolute;
}

.star-icon-sm {
    font-size: 40px;
    color : #D4AD00;
    position: absolute;
}

.review-trailer{
    margin-top: 500px;
}

.bigger-num {
    font-size:35px;
    font-weight: 600;
}

.bigger-num-sm {
    font-size:30px;
    font-weight: 500;
}

.buttons-review {
    margin-top : -40px
}

.circle-button {
    border-radius: 50%;
    height: 42px;
    background-color: transparent;
}

.info-button {
    background-color: rgba(255, 255, 255, 0.3);
}

.info-content {
    color: white;
}

.adult-warning > p{
    font-size: x-large;
    color : white;
    text-align: left;
}

.adult-warning {
    background-color: rgba(96, 94, 85, 0.6);
    border-left: medium solid white;
}

.movie-info {
    max-width: none !important;
    width: 50%;
}

.movie-info > .modal-content {
    background-color: black;
}

.player-wrapper-info-tab {
    position: relative;
    /*padding-bottom: calc(var(ratios, .5625) * 100%);*/
    padding-bottom : 56.25%;
}

.react-player-info-tab {
    position: absolute; 
    width: 100%;
    height: 100%;
}

.movie-info-name {
    font-family : cursive;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-stretch: extra-condensed;
    margin-bottom: 0px;
}

.movie-info-container {
    margin-top : -35px;
}

.loading-scene-main {
    margin-left: 35%;
}

.loading-scene {
    margin-left: 180px;
}

.carousel-control-prev {
    top : -10%;
    left : 93%;
    height: 10%;
    width: 3%;
}

.carousel-control-next {
    top : -10%;
    right : 0%;
    height: 10%;
    width: 3%;
}

.carousel-indicators li {
    border-radius: 50%;
    width:12px;
    height:12px;
}

.carousel-indicators {
    bottom: 97%;
    width : 3%;
    left: 80%;
}
