body {
    background-color:#383838;
}

.navbar-color {
    background-color : black
}

.navbar {
    padding : 1px 80px 1px 80px
}

.navbar-brand, .navbar-nav {
    margin : 5px 15px 5px 15px
}

.nav-link.thick {
    font-weight: 600;
    font-size : x-large;
    color : white;
}

.nav-item:hover {
    background-color:#454542;
}

.signin-button {
    background-color: #F5D364;
}

.signin-button:hover {
    background-color: #EEBE1E;
}
